.App {
  font-family: sans-serif;
  text-align: center;
  background-color: burlywood;
}

.heading {
  color: black;
}
button:hover,
li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
